@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
  letter-spacing: 0.1em;
}

@layer base {
  h1 {
    @apply text-3xl font-semibold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-sm tablet:text-lg;
  }
  h5 {
    @apply text-base;
  }
  h6 {
    @apply text-base text-orange uppercase italic font-semibold;
  }
  p {
    @apply text-sm tablet:text-base text-white/65;
  }
}
